*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main{
    height: 90vh;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/9d3533b2-0e2b-40b2-95e0-ecd7979cc88b/a3873901-5b7c-46eb-b9fa-12fea5197bd3/IN-en-20240311-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100vw;
    border-bottom: 3px solid rgb(214, 196, 196);


}
.main .box{
    width: 100%;
    height: 90vh;
    opacity: 0.66;
    background-color: black;
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px ;
}
.header img{
    width: 200px;
}
.Eng select{
    padding: 10px 25px ;
    background: transparent;
    color: #FFFFFF;
    border: 1px solid white;
    font-size: 16px;
    font-family: sans-serif;
    
    
    
    
    
}
.Eng button{
    padding: 10px 20px;
    background-color: red;
    border-radius: 3px;
    color: #FFFFFF;
    
    font-size: 16px;
    font-family: sans-serif;
   
    
}
.center{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0px;

}
.center h3,h6{
    color: #FFFFFF;
    font-size: 18px;
    padding: 15px 0px;
}
.center h1{
    color: #FFFFFF;
    font-size: 32px;
    padding: 15px 0px;

}
.button input{
    padding: 15px 220px 12px 0px;
    background: transparent;
    color: #FFFFFF;
    font-size: 18px;
    
}
.button button{
    padding: 18px 100px 12px 0px;
    color: #FFFFFF;
    font-size: 18px;
    background-color: red;
}
.body{
    width: 100%;
}
.box2{
    opacity: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    justify-content: space-evenly;
    border-bottom: 3px solid rgb(214, 196, 196);
   


}
 .text h1{
    color: #FFFFFF;
    font-size: 30px;
    text-align: justify;
    padding: 10px;


}
.text h3{
    color: #FFFFFF;
    font-size: 20px;
    text-align: justify;
    padding: 10px;

}
.image img{
    width:100%
}



