*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
}
.box1{
    width: 20%;
    
    background-color: red;
    display: flex;
    flex-direction: column;
    position: fixed;
    /* justify-content: center; */
   
    
}

.company_Name{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    margin: 24px 0px;
    padding: 64px 0px;
    
   
    
    

}
.company_Name h1{
    color: #FFFFFF;
    font-size: 30px;
    font-family: sans-serif;
    margin: 30px;
    

}
.manu{
    width: 100%;
    height: 50vh;
    
    margin: 15px;
    
    
}
.li{
    cursor: pointer;
    width: 268px;
    height: 43px;
    padding: 20px 16px;
    color: #FFFFFF;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    list-style: none;
    

}
.manu ul li:hover{
    background-color:#FFFFFF;
   color: black;
}
.box2{
    width: 80%;
    height: 400vh;
    
    position: absolute;
    right: 0;
    padding: 90px 60px 0px 40px;
    
}
.head{
    width: 100%;
    height: 10vh;
    
    display: flex;
    align-items: center;
}
.head h1{
    font-size: 64px;
    font-family: sans-serif;
    color: #000000;


}
.heading{
    width: 255px;
    height: 67px;
    display: flex;
    
    
}
.heading h1{
    font-size: 48px;
    font-family: sans-serif;
    color: #F44336;
    display: flex;
}
.line{
    width: 59px;
    height: 9px;
    background-color: gray;
    border-radius:4px ;
    border: 5px solid red;
    margin: 20px 0px;
}
.img{
    width: 100%;
    
    display: flex;
}
.firstimg{
    width: 525px;
    height: 1000px;
   
   
    /* display: flex;
    flex-direction: column; */
    
}
.img1{
    width: 100%;
    height: 400px;
    
    
    background-position: center;
    padding: 10px;
    
}
.img1 img{
    width: 100%;
    height: 100%;

}
.img2{
    width: 100%;
    height: 300px;
    padding: 10px;
   
}
.img2 img{
    width: 100%;
    height: 100%;

}
.img3{
    width: 100%;
    height: 300px;
    padding: 10px;
    
}
.img3 img{
    width: 100%;
    height: 100%;

}
.img4{
    width: 100%;
    height: 400px;
   
    background-position: center;
    padding: 10px;
    
}
.img4 img{
    width: 100%;
    height: 100%;
}
.img5{
    width: 100%;
    height: 300px;
    padding: 10px;
    
}
.img5 img{
    width: 100%;
    height: 100%;

}
.img6{
    width: 100%;
    height: 300px;
    padding: 10px;
}
.img6 img{
    width: 100%;
    height: 100%;

}
.para{
    width: 100%;
    height: 40vh;
   
   padding-top: 50px;
   margin-top: 50px;
}
.ptag{
    width: 100%;
    height: 70%;
    line-height: 30px;
   
    text-align: justify;
    font-size: 16px;
    color: #000000;
    font-family: sans-serif;
    font-weight: bold;
}
.images{

    width: 100%;
    height: 45vh;
    
    margin-top: 80px;
    display: flex;
    
    
    


}
.one{
    width: 33%;
    height: 100%;
    
    box-sizing: border-box;
    padding: 20px;
   
    
}
.imagebox{
    height: 50%;
    width: 100%;
    
    

}
.imagebox img{
    width: 100%;
    height: 100%;
}
.content{
    height: 50%;
    width: 100%;
    background-color: rgb(235, 226, 226);
    

}
.content h3,h4,p{
    padding: 15px 18px 0px 18px;
    text-align: justify;
    
}
.list{
    width: 100%;
    height: 80vh;
    
    display: flex;
}
.section{
    width: 50%;
    height: 100%;
    
    border: 1px solid white;
}
.topbottom{
    width: 100%;
    height: 15%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
.mid{
    width: 100%;
    height: 8%;
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #000000;
    border-bottom: 1px solid rgb(229, 223, 223);
    background-color: #F1F1F1;
}
.topbottom button{
    
    height: 48px;
    width: 108px;
    border: none;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    
}

.topbottom button:hover{

    background-color: orangered;
}
.hover :hover{
    background-color: #000000;
}
.secondlast{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F1F1;
    border-bottom: 1px solid rgb(229, 223, 223);
}
.form{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    justify-content: space-between;
    
}
.form input,button{
    
    width: 100%;
    height: 50px;
    
}


